<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Chat</title>
</head>
<body>
    <script>
        const webSocket = new WebSocket('ws://local:3001');
        //서버랑 연결 시
        webSocket.onopen = function(){
            console.log('서버와 웹소켓 연결 완료');
        }

        //서버한테서 메시지 받았을 때
        webSocket.onmessage=function(message){
            console.log(message.data)
            webSocket.send('클라: 111');
        }
    </script>
</body>
</html>